<h1>New Submitter</h1>
<center>
<% form_for(@user, :html => { :multipart => true }) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
<!--  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
-->
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', '/images/new' %>
</center>
